@font-face {
    font-family: netflix;
    src: url("./assets/fonts/NetflixSans-Bold.otf");
}@font-face {
    font-family: netflix_light;
    src: url("./assets/fonts/NetflixSans-Light.otf");
}
*{
    margin: 0;
    box-sizing: border-box;
    
}
/* home page starts here */
#home_page{
    height: 100vh;
    width: 100vw;
    /* border: 5px solid black; */
    background-image: url("./assets/backgroundimage.jpg");
    background-size: 100%;

}
nav{
    height: 12vh;
    /* border: 2px solid green; */
    display: flex;
    background-color: rgba(0, 0, 0, 0.805); 
}
img{
    height: 75x;
    width: 180px;
}
#nav_one{
    /* border: 2px solid blue; */
    flex-basis: 18%;
    display: flex;
    justify-content: end;
    
}
#nav_two{
    /* border: 2px solid blue; */
    flex-basis: 82%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 120px;
    gap: 10px;
    align-items: center;    
    
}
#dropdown{
    height: 32px;
    width: 130px;
    border: 1 solid white;
    background-color: transparent;
    border-radius: 5px;
    padding-left: 25px;
    color: white;  
    position: relative;
    display: flex;
}
#translatorimg{
    background-image: url(./assets/language.svg);

}
#dropdown>div{
    position: absolute;
}
#dropdown>option{
    background-color: white;
    color: black;
}
#Signin{
    height: 32px;
    width: 70px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    background-color: #E50914;
    color: white;
    font-weight: 600;

}
header{
    height: 88vh;
    width: 100vw;
    /* border: 2px solid red; */
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    gap: 25px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.805);

}

header>h1{
    font-size: 58px;
    font-weight: 600;
    font-family: netflix;
    color: white;
    
}
header>h4{
    font-size: 22px;
    font-weight:900;
    font-family: netflix;
    color: white;


}
header>p{
    font-size: 17px;
    font-weight:500;
    font-family: netflix;
    color: white;

}
div{
    /* border: 2px solid orange; */
    display: flex;
    gap: 5px;
}
#input{
    height: 52px;
    width: 380px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgba(35, 35, 35, 0.601);
    padding: 10px;
}
div>input::placeholder{
    color: rgb(235, 233, 233);
}
#subscribe{
    height: 52px;
    width: 220px;
    border-radius: 5px;
    background-color: #E50914;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    
} 
/* Home page ends here */


/* Trending page starts here  */

#trending_now{
    /* border: 2px solid red; */
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: black;

   
}
#trending_now1{
    /* border: 2px solid blue; */
    display: flex;
    flex-basis: 15%;
    align-items: center;
    padding-left: 160px;
    padding-top: 40px;
}
#trending_now1>h1{
    font-size: 25px;
    font-weight: 400;
    color: white;
    font-family: netflix;
}
#trending_now2{
    border: 2px solid black;
    flex-basis: 85%;
    border-left-width: 180px;
    border-right-width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:20px ;
    padding-right:20px ;
    overflow: scroll;
    overflow-y: hidden;
    position: relative;
    gap: 30px;

}
.image{
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
.image:hover{
    scale: 1.1;
}
.img_container{
    /* border: 2px solid white; */
    position: relative;
}
.number{
    font-size: 100px;
    color: black;
    font-weight: 800;
    -webkit-text-stroke: 2px white;
    position: absolute;
    font-family: netflix;
    top: 130px;
    left: -25px;
}

/* reasons page starts here */

#reasons_page{
    border: 2px solid black;
    border-left-width: 170px;
    border-right-width:170px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}
#reason1{
    /* border: 2px solid violet; */
    flex-basis: 15%;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;

}
#reason1>h1{
    font-weight: 800;
    font-family: netflix;
    font-size: 23px;
    color: white;
}
#reason2{
    /* border: 2px solid violet; */
    display: flex;
    gap: 16px;
}
.reasons_container{
    /* border: 2px solid red; */
    height: 290px;
    width: 370px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: linear-gradient(to bottom right,#192246,#1e172d, #210e17);
    transition: all 0.2s ease-in-out;

}
.reasons_container:hover{
    scale: 1.15;
    border-radius: 50%;
}
.reasons_container1{
    /* border: 2px solid peru; */
    display: flex;
    flex-basis: 15%;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    color: white;
}
.reasons_container1>h2{
    margin-top: 20px;
    font-size: 23px;
    font-family: netflix;
    font-weight:600 ;
    padding-right: 10px;
}
.reasons_container2{
    /* border: 2px solid peru; */
    flex-basis: 70%;
    padding: 20px;
}
.reasons_container2>p{
    line-height: 20px;
    font-size: 14px;
    font-family: netflix;
    padding-right: 10px;
    color: rgb(192, 189, 189);
}
.reasons_container3{
    /* border: 2px solid peru; */
    flex-basis: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    padding-right: 10px;

}
.reasons_container3>img{
    height: 70px;
    width: 70px;
    
}
    /* Questions page starts here*/
#question{
    border: 2px solid black;
    height: 90vh;
    display: flex;
    flex-direction: column;
    font-family: netflix;  
    border-left-width: 170px;
    border-right-width:170px;
    gap: 20px;
    background-color: black;
    
}
#question_head{
    /* border: 2px solid blue; */
    background-color: black;  
    font-size: 20px;
    font-family: netflix;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 15px;
    color: white;
    
}
#question_head1{
    display: flex;
    gap: 7px;
    flex-direction: column;
}
.question1{
    background-color: rgba(233, 227, 227, 0.182);  
    /* border: 2px solid blue; */
    height: 80px;
    width: 1181px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: white;
    padding-left: 20px;    
    transition: all 0.32s ease-in-out;  
    padding-right: 40px;
}
.question1:hover{
    background-color: rgba(233, 227, 227, 0.248);

}
.plusimg{
    height: 40px;
}

    /* Questions page starts here  */ 


    /* final page starts here */
#final{
    /* border: 2px solid red; */
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}
#finalcontent{
    /* border: 2px solid salmon; */
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    
}
#finalcontent>p{
    color: rgba(255, 255, 255, 0.644);
    
    font-size: 16px;
    font-weight: 400;
    font-family: netflix;
}
#signing_menu{
    /* border: 2px solid salmon; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    gap: 10px;
}
#signing_input{
    height: 60px;
    width: 550px;
    border: 1px solid white;
    background-color: rgba(238, 234, 234, 0.066);
    color: rgba(255, 255, 255, 0.644);
    font-size: 15px;
    font-weight: 400;
    font-family: netflix;
    border-radius: 5px;
    padding-left: 20px;

}
#signing_menu>button{
    height: 60px;
    width: 230px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #E50914;
    font-size: 25px;
}
#call{
    /* border: 2px solid blue; */
    height: 10vh;
    display: flex;
    align-items: center;
}
a{
    color: rgba(255, 255, 255, 0.644);
}
#call>h6{
    color: rgba(255, 255, 255, 0.644);
    font-size: 15px;
    padding-left: 170px;
    font-family: netflix;
}
#anchortags{
    /* border: 2px solid green; */
    padding-left: 170px;
    padding-right: 170px;
    height: 30vh;
    display: flex;
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: repeat(4,20px);
    gap: 10px;
}
#select{
    /* border: 2px solid magenta; */
    height: 10vh;
    padding-left: 170px;
}
#dropdown{
    height: 35px;
    background-color: rgba(255, 255, 255, 0.096);
    
}
#netflix_india{
    color: rgba(255, 255, 255, 0.644);
    height: 40px;
}
#netflix_india>h6{
    padding-left: 170px;
    font-size: 15px;
    font-family: netflix_light;
    gap: 20px;
    height: 30px;
    /* border: 2px solid green; */
    
}
#reCAPTCHA{
    display: flex;
    justify-content: start;
    align-items: center;
    /* border: 2px solid saddlebrown; */
    height: 60px;
}
#reCAPTCHA>p{
    color: rgba(255, 255, 255, 0.644);
    padding-left: 170px;
}
#reCAPTCHA>p>a{
    color: #1a71f4;
}


    /* final page ends here */